body {
    font-family: Arial, Helvetica, sans-serif;
    background: darkgray;
    line-height: 1.6;
    display: flex;
    height: 100vh;
    align-items:center;
    justify-content: center;
}

.button {
    background: #428bca;
    padding: 15px 30px;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: #3876ac;
}

.modal {
    /*display: none*/
    position: fixed;
    z-index: 1; /*in front or back*/
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5); /*with alpha*/
}

.modal-content {
    margin: 10% auto;
    width: 40%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal h2, .modal h4 {
    margin: 0;
}

.modal-header {
    background: #428bca;
    color: white;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 10px 20px;
    background: white;
}

.modal-footer {
    background: #428bca;
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.close {
    color: red;
    float: right;
    font-size: 30px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}